<!-- views/partials/sidebar-chat.ejs -->


<!-- add sender to whisper display -->
	<h2 class="text-xl text-[--color-secondary] font-bold mb-4">Chat</h2>
	<div id="chat-message-display" class="space-y-2">
		<% if (messages && messages.length > 0) { %>
			<% messages.forEach(function(message) { %>
			<% if (message.type == "personal_chat") { %>
				<div class="bg-[--color-background] text-[--color-text] border border-[--color-accent] rounded p-2">
					<% if (userId == message.fromId) { %>
						<span class="font-bold text-[--color-accent]"><%= "Whisper to " + message.toUsername %>: </span>
					<% } else { %>
						<span class="font-bold text-[--color-accent]"><%= message.fromUsername + " whispers: "%></span>
					<% } %>
					<span class="break-all overflow-wrap-anywhere inline"><%= message.message %></span>
					<span class="block text-xs text-gray-400 text-right"><%= message.timestamp %></span>
				</div>
				<% } else { %>
				<div class="bg-[--color-secondary] text-[--color-text] rounded p-2">
					<span class="font-bold text-[--color-accent]"><%= message.username %></span>:
					<span class="break-all overflow-wrap-anywhere inline"><%= message.message %></span>
					<span class="block text-xs text-gray-400 text-right"><%= message.room + ", " + message.timestamp %></span>
				</div>
			<% }}); %>
			<% } %>
	</div>

