<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/public/output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <script src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"></script>
  </head>
  <body>


    <div class="flex flex-col w-screen h-screen">

      <div class="flex flex-row flex-grow">

        <!-- Canvas -->
        <div class="bg-black border border-[#FF55FE] text-white w-5/6">

        </div>

        <section class="flex flex-col bg-[#01FFFF] w-1/6 border border-cyan-400">

          <div class="h-5/6">
          </div>

          <div class="flex justify-center flex-col h-1/6 p-4">
            <div class="border border-cyan-600 rounded-md p-2">
              <input type="text" placeholder="Type here..." class="bg-[#01FFFF] w-full outline-none">
              <div class="flex flex-row justify-between">
                <button type="">:)</button>
                <button type="">=></button>
              </div>
            </div>
          </div>

        </section>

      </div>

      <nav class="flex flex-start items-center w-screen bg-[#01FFFF]">

        <div class="">
          <div class="flex flex-row bg-cyan-500 rounded-md p-2">
            <img src=<%= img_avatar %> alt="Avatar" class="bg-cyan-100 rounded-[50%] max-w-10 h-auto">
          <p class="border-l border-black p-2"><%= username %></p>
          <i id='openProfileDialog' class='fas fa-pen cursor-pointer'></i>

          <dialog id="profileDialog" class="p-8">

            <div id="closingDiv">
              <div class="flex justify-end">
                <button type="button" id="closeProfileDialog">X</button>
              </div>

              <div class="flex flex-row">
                <div class="flex flex-col">
                  <p class="p-2">Username</p>
                  <p class="p-2">E-mail</p>
                  <p class="p-2">Avatar</p>
                </div>

                <div class="flex flex-col">
                  <p class="p-2"><%= username %></p>
                  <p class="p-2"><%= email %></p>
                  <img src=<%= img_avatar %> alt="Avatar" class="bg-cyan-100 rounded-[50%] max-w-10 h-auto">
              </div>
            </div>
          </div>

        </dialog>

        <script>
        let showModal = false;
        const dialog = document.getElementById("profileDialog");
        function toggleModal()
        {
          showModal = !showModal
          if (showModal) {
            dialog.showModal();
          } else {
            dialog.close();
          }
        }
        document.getElementById("openProfileDialog").addEventListener("click", () => toggleModal());
        dialog.addEventListener("click", (event) => {if (event.target.id !== 'closing-div'){toggleModal();}});
        </script>

      </div>
    </div>

    <button type="button" class="p-2">Character</button>
    <button type="button" class="p-2">Friends</button>
  </nav>

</div>

</body>
</html> 


