<!DOCTYPE html>

<div class="flex flex-row bg-cyan-500 rounded-md">

  <div class="flex justify-center">
    <img src=<%=img_avatar %> alt="Avatar" class="bg-cyan-100 rounded-[50%] max-w-10 h-auto">
  </div>

  <div id='openProfileDialog' class="flex flex-row w-32 justify-between cursor-pointer hover:bg-white">
    <p class="border-l border-black p-2">
      <%= username %>
    </p>
    <i class='fas fa-pen text-xs flex'></i>
  </div>

  <dialog id="profileDialog" class="rounded-md p-4 bg-[#01FFFF]">

    <div id="closingDiv" class="flex flex-col">

      <div class="flex justify-end">
        <button type="button" id="closeProfileDialog">X</button>
      </div>

      <div class="flex flex-row">
        <div class="flex flex-col">
          <p class="p-2">Username: </p>
          <p class="p-2">E-mail: </p>
          <p class="p-2">Avatar: </p>
        </div>

        <div class="flex flex-col">
          <p class="p-2">
            <%= username %>
              <i id="openUsernameInput" class='fas fa-pen text-xs flex'></i>
              <div id="usernameInput">
                <form hx-post="/editUsername/<%=username %>" hx-target="#dashboard-profile-button" hx-swap="innerHTML">
                  <input type="text" name="newUsername">
                  <input type="submit" value="Change Username"></input>
                </form>
              </div>
          </p>
          <p class="p-2">
            <%= email %>
              <i class='fas fa-pen text-xs flex'></i>
          </p>
          <img src=<%=img_avatar %> alt="Avatar" class="bg-cyan-100 rounded-[50%] max-w-10 h-auto">
          <i class='fas fa-pen text-xs flex'></i>
        </div>
      </div>

      <div class="flex justify-end w-[100%] p-2 border-t border-black">
        <form action="/logout/<%=username %>" method="get">
          <input type="submit" class="text-gray-700 cursor-pointer" value="Sign Out" />
        </form>
      </div>

    </div>
  </dialog>

  <script type="module">
    let showUsernameInput = false;
    const input = document.getElementById("usernameInput");
    input.style.display = 'none';
    function toggleInput() {
      showUsernameInput = !showUsernameInput
      if (showUsernameInput) {
        input.style.display = 'block';
      } else {
        input.style.display = 'none';
      }
    }

    document.getElementById("openUsernameInput").addEventListener("click", () => toggleInput());

  </script>

  <script type="module">
    let showModal = false;
    const dialog = document.getElementById("profileDialog");
    function toggleModal() {
      showModal = !showModal
      if (showModal) {
        dialog.showModal();
      } else {
        dialog.close();
      }
    }
    document.getElementById("openProfileDialog").addEventListener("click", () => toggleModal());
    document.getElementById("closeProfileDialog").addEventListener("click", () => toggleModal());
    // dialog.addEventListener("click", (event) => {if (event.target.id !== 'closing-div') {toggleModal();} });
  </script>

</div>
