<!DOCTYPE html>

<div class="flex flex-row bg-cyan-500 rounded-md">

  <div class="flex justify-center">
    <img src="/images/<%=img_avatar %>" alt="Avatar" class="bg-cyan-100 rounded-[50%] max-w-10 h-auto">
  </div>

  <div id='openProfileDialog' class="flex flex-row w-32 justify-between cursor-pointer hover:bg-white">
    <p class="border-l border-black p-2">
      <%= username %>
    </p>
    <i class='fas fa-pen text-xs flex'></i>
  </div>

  <dialog id="profileDialog" class="rounded-md p-4 w-2/6 h-2/6 bg-[#01FFFF]">

    <div id="closingDiv" class="flex flex-col h-full w-full justify-between">

      <div class="flex justify-end">
        <button type="button" id="closeProfileDialog">X</button>
      </div>

      <div class="flex flex-row">
        <div class="flex flex-col">
          <p class="p-2">Username: </p>
          <p class="p-2">E-mail: </p>
          <p class="p-2">Avatar: </p>
        </div>

        <div class="flex flex-col">
          <p class="p-2">
            <%= username %>
              <i id="openUsernameInput" class='fas fa-pen text-xs flex'></i>
              <div id="usernameInput" class="hidden">
                <form hx-post="/editUsername/<%=username %>" hx-target="#dashboard-profile-button" hx-swap="innerHTML">
                  <input type="text" name="newUsername">
                  <input type="submit" value="Change Username"></input>
                </form>
              </div>
          </p>


          <p class="p-2">
            <%= email %>

			<i id="openEmailInput" class='fas fa-pen text-xs flex'></i>
			<div id="emailInput" class="hidden">
				<form hx-post="/editEmail/<%=username %>" hx-target="#dashboard-profile-button" hx-swap="innerHTML">
					<input type="text" name="newEmail">
					<input type="submit" value="Change Email"></input>
                </form>
			</div>
		</p>
	
		
		<img src="/images/<%=img_avatar %>" alt="Avatar" class="bg-cyan-100 rounded-[50%] max-w-10 h-auto">
		<i id="openAvatarInput" class='fas fa-pen text-xs flex'></i>
		<div id="avatarInput" class="hidden">
		  <form hx-post="/editAvatar/<%=username %>" enctype="multipart/form-data" hx-target="#dashboard-profile-button" hx-swap="innerHTML">

			<input type="file" id="myFile" name="filename">
			<input type="submit" value="Change Avatar"></input>
		  </form>
		</div>
	  </div>
	</div>


      <div class="flex justify-end content-end w-[100%] p-2 border-t border-black mt-auto">
        <form action="/logout/<%=username %>" method="get" hx-push-url="/">
          <input type="submit" class="text-gray-700 cursor-pointer" value="Sign Out" />
        </form>
      </div>

    </div>
  </dialog>

  <script type="module">
    let toggleUsernameInput = false;
    let toggleEmailInput = false;
    let toggleAvatarInput = false;

    const usernameInput = document.getElementById("usernameInput");
    const emailInput = document.getElementById("emailInput");
    const avatarInput = document.getElementById("avatarInput");
    // usernameInput.style.display = 'none';
    // emailInput.style.display = 'none';
    // avatarInput.style.display = 'none';

    function toggleInput(input, toggle) {
      console.info("b4 toggle: ", toggle);
      console.info("Pressing!!");
      toggle = !toggle
      console.info("after toggle: ", toggle);
      if (toggle) {
        input.style.display = 'block';
      } else {
        input.style.display = 'none';
      }
      return toggle;
    }

    document.getElementById("openUsernameInput").addEventListener("click", () => {
      toggleUsernameInput = toggleInput(usernameInput, toggleUsernameInput)
    });
    document.getElementById("openEmailInput").addEventListener("click", () => {
      toggleEmailInput = toggleInput(emailInput, toggleEmailInput);
    });
    document.getElementById("openAvatarInput").addEventListener("click", () => {
      toggleAvatarInput = toggleInput(avatarInput, toggleAvatarInput)
    });

  </script>

  <script type="module">
    let showModal = false;
    const dialog = document.getElementById("profileDialog");
    function toggleModal() {
      showModal = !showModal
      if (showModal) {
        dialog.showModal();
      } else {
        dialog.close();
      }
    }
    document.getElementById("openProfileDialog").addEventListener("click", () => toggleModal());
    document.getElementById("closeProfileDialog").addEventListener("click", () => toggleModal());
    // dialog.addEventListener("click", (event) => {if (event.target.id !== 'closing-div') {toggleModal();} });
  </script>

</div>
